
.itemContainer {
    width: 100%;
    background: rgb(119, 180, 184);
    border-radius: 4px;
    padding: 10px 8px;
    margin-top: 1rem;
}

.gradientB2R {
    background: linear-gradient(to bottom right, var(--mantine-color-blue-filled), var(--mantine-color-red-filled));

}

.breakWord {
    word-wrap: normal;
    word-break: break-word;
}