.wrapper {
    position: relative;
    margin-bottom: rem(30px);
    border: 1px dashed light-dark(var(--mantine-color-gray-4));
    border-radius: 7px;
    max-width: 30rem;
}

.dropzone {
    border-width: rem(1px);
    padding-bottom: rem(50px);
}

.icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
    position: absolute;
    width: rem(220px);
    left: calc(50% - rem(110px));
    bottom: rem(-20px);
}